<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findings</key>
	<array/>
	<key>extentReached</key>
	<integer>0</integer>
	<key>flagCase</key>
	<false/>
	<key>procedureNotes</key>
	<string></string>
	<key>insertionTime</key>
	<string></string>
	<key>withdrawlTime</key>
	<string></string>
	<key>prepQuality</key>
	<integer>0</integer>
	<key>instructor</key>
	<integer>0</integer>
	<key>traineeName</key>
	<string></string>
	<key>caseID</key>
	<string></string>
	<key>procedure</key>
	<integer>0</integer>
	<key>procedureDate</key>
	<string></string>
	<key>hospital</key>
	<integer>0</integer>
</dict>
</plist>
