<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>procNotes</key>
	<dict/>
	<key>flags</key>
	<dict/>
	<key>extent</key>
	<dict/>
	<key>quality</key>
	<dict/>
	<key>findingNames</key>
	<dict/>
	<key>locations</key>
	<dict/>
	<key>userpw</key>
	<dict/>
	<key>users</key>
	<array/>
	<key>docIDs</key>
	<dict/>
	<key>instructors</key>
	<dict/>
	<key>completion</key>
	<dict/>
	<key>insertTimes</key>
	<dict/>
	<key>interventions</key>
	<dict/>
	<key>traineeNames</key>
	<dict/>
	<key>withdrawTimes</key>
	<dict/>
	<key>procedures</key>
	<dict/>
	<key>hospitals</key>
	<dict/>
	<key>sizes</key>
	<dict/>
	<key>dates</key>
	<dict/>
	<key>caseIDs</key>
	<dict/>
</dict>
</plist>
